.Home {
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
   
 
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  .footer{
    padding: 2rem;
    background-color:rgb(32, 32, 32) ;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    margin-top: 3%;
}
.footer i{
  font-size: 14px;
  font-weight:100;
}

